<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.user.UserMapper">
	<select id="getUser" resultType="User">
		select * from user
	</select>
	
	<select id="login" parameterType="User" resultType="User">
		select * from user where BINARY userCode=#{userCode} and BINARY userPassWord=#{userPassWord}
	</select>

	<insert id="addUser" parameterType="User">
		INSERT INTO mydiningroom.user
			(
			userCode,
			userName,
			userPassWord,
			phone,
			identity,
			createDate
			)
			VALUES
			(
			#{userCode},
			#{userName},
			#{userPassWord},
			#{phone},
			#{identity},
			now()
			);
	</insert>

	<select id="showUserList" parameterType="Pager" resultType="User">
		select * from user where 1=1
			<if test="opr=='serchUser'">
			    and userCode LIKE CONCAT('%',#{userSerchName},'%')
				OR userName LIKE CONCAT('%',#{userSerchName},'%')
			</if>
			<if test="userId!=0">
				and id=#{userId}
			</if>
		limit #{firstData},#{pageSize}
	</select>

	<select id="getTotalCount" parameterType="Pager" resultType="int">
		select count(1) from user where 1=1
		<if test="opr=='serchUser'">
			and userCode LIKE CONCAT('%',#{userSerchName},'%')
			OR userName LIKE CONCAT('%',#{userSerchName},'%')
		</if>
		<if test="userId!=0">
			and id=#{userId}
		</if>
	</select>

	<delete id="delUserById" parameterType="User">
		delete from user where id=#{id}
	</delete>

	<update id="updateUser" parameterType="User">
		UPDATE mydiningroom.user
		<trim prefix="SET" suffixOverrides=",">
			<if test="userCode!=null and userCode!=''">userCode = #{userCode} ,</if>
			<if test="userName!=null and userName!=''">userName = #{userName} , </if>
			<if test="userPassWord!=null and userPassWord!=''">userPassWord = #{userPassWord} ,</if>
			<if test="phone!=null and phone!=''">phone = #{phone} , </if>
			<if test="identity!=null and identity!=''">identity = #{identity} , </if>
		</trim>
		WHERE
		id = #{id} ;
	</update>

	<select id="userIsExist" parameterType="User" resultType="int">
		select count(1) from user where 1=1
		<if test="userCode!=null and userCode!=''">and userCode=#{userCode}</if>
		<if test="phone!=null and phone!=''">and phone=#{phone}</if>
		<if test="identity!=null and identity!=''">and identity=#{identity}</if>
	</select>

</mapper>